html {
    background-color: #BDBDBD;
    display: flex;
    justify-content: center;
}

body {
    overflow: auto;
}

.game-window {
    background: #fff;
    font-size: 0;
    border: solid 2px #06f;
    border-radius: 6px 6px 0 0;
    width: fit-content;
    margin: 24px auto;
}

.window-title-bar {
    font-size: 14px;
    background-color: #06f;
    color: #fff;
    padding: 8px 12px;
    margin: 0;
}

.menu {
    padding: 2px 6px;
    position: relative;
    background-color: rgb(224, 224, 224);
}

button {
    outline: none;
    border: 0;
    color: #000;
    cursor: pointer;
}

.menu>button,
.menu-popup>button,
.plain-link>button {
    font-size: 14px;
    background: transparent;
}

.menu-popup {
    visibility: hidden;
    position: absolute;
    top: 26px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: rgb(224, 224, 224);
    border: solid 1px gray;
}

.menu-popup>button {
    text-align: left;
    padding: 6px 16px;
}

.menu-popup>button:hover {
    background-color: #fff;
}


/* 基本页面样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.game-intros {
    max-width: 800px;
    /* text-align: center; */
    margin: 0 auto;
}

/* 游戏规则和操作说明样式 */
ul li,
ol li {
    margin: 10px 0;
}